@import '../../../styles/fonts';

.auction-section {
  &__content {
    height: 900px;
  }

  &__left-content {
    background-color: #F6F9FF;
  }

  &__right-content {
    background-color: #47AFDD;
  }

  &__title {
    color: #1490C7;
  }
}

.paw-auction {
  &__right-content{
    &-img{
      position: relative;
      &-main{
        position: absolute;
        top:10em;
        left:50px;
        z-index: 10;
      }
      &-first{
        top: 2em;
        left: -25px;
        position: absolute;
      }
      &-second{
        top: 48px;
        right: -84px;
        position: absolute;
        z-index: 1;
      }
      &-third{
        bottom: -46em;
        right: 1em;
        position: absolute;
      }
      &-forth{
        top: 43em;
        left: -31px;
        position: absolute;
      }
    }
  }
}