@import '../../../styles/fonts';

.auction-section {
  &__content {
    height: 900px;

    @media screen and (max-width: 1279px) {
      height: auto;
    }
  }

  &__left-content {
    background-color: #F6F9FF;
  }

  &__right-content {
    background-color: #47AFDD;

    @media screen and (max-width: 1279px) {
      min-height: 800px;
    }

    @media screen and (max-width: 767px) {
      min-height: 420px;
      overflow: hidden;
    }
  }

  &__title {
    color: #1490C7;
  }

  &__card {
    position: absolute;
    top: 160px;
    right: -85px;
    z-index: 1;

    @media screen and (max-width: 767px) {
      top: initial;
      bottom: 30px;
      right: -35px;
      width: 93.5%;
    }
  }

  &__decorator {
    position: absolute;

    &-1 {
      top: 40px;
      left: -30px;

      @media screen and (max-width: 767px) {
        top: 25px;
        left: -19px;
        width: 82px;
      }
    }

    &-2 {
      top: -17px;
      right: -64px;

      @media screen and (max-width: 767px) {
        top: -15px;
        right: -40px;
        width: 207px;
      }
    }

    &-3 {
      bottom: 65px;
      right: 24px;

      @media screen and (max-width: 767px) {
        bottom: 20px;
        right: 15px;
        width: 23px;
      }
    }

    &-4 {
      bottom: -47px;
      left: -18px;

      @media screen and (max-width: 767px) {
        bottom: -45px;
        left: -19px;
        width: 75px;
      }
    }
  }
}