ETHERSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

DEPLOY_GAS_LIMIT = 7000000
DEPLOY_GAS_PRICE = 150

DEBUG = "false"

# NFT consts
TOKEN_PRICE = 500000000000000000

SOFTCAP_IN_TOKENS = 4000
MAX_SUPPLY = 10000

# Tuesday, December 1, 2020 0:00:00 - 1606780800
OPEN_CROWDSALE_TIME = 1606780800

# Monday, February 1, 2021 0:00:00 - 1612137600
CLOSE_CROWDSALE_TIME = 1612137600

NAME = "VIP Pirate Assault Warriors card"
SYMBOL = "VIP PAW card"

OWNER = 0x0000...

BASE_URI = "https://raw.githubusercontent.com/"
DEFAULT_TOKEN_URI = "..."