ETHERSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."
INFURA_ID_PROJECT = "abcd1234..."

DEPLOY_GAS_LIMIT = 7000000
DEPLOY_GAS_PRICE = 150

# NFT consts
TOKEN_PRICE = 500000000000000000

SOFTCAP_IN_TOKENS = 2
MAX_SUPPLY = 1000

MAX_TOKENS_TO_BUY_IN_TX_BSC = 100
MAX_TOKENS_TO_BUY_IN_TX_ETH_MAINNET = 41
MAX_TOKENS_TO_BUY_IN_TX_KOVAN = 41
MAX_TOKENS_TO_BUY_IN_TX_ROPSTEN = 26

NAME = "VIP Pirate Assault Warriors card"
SYMBOL = "VIP PAW card"

OWNER = 0x0000...
FEE_ADDRESS = 0x0000...

BASE_URI = "https://raw.githubusercontent.com/"
DEFAULT_TOKEN_URI = "..."

# token consts

ERC20_NAME=Bear
ERC20_SYMBOL=B
ERC20_SUPPLY = 1000000000000000000000000