ETHERSCAN_API_KEY = ABSD123...
MNEMONIC = "one two three ..."

DEPLOY_GAS_LIMIT = 7000000
DEPLOY_GAS_PRICE = 150

# NFT consts
INITIAL_TOKEN_PRICE = 5000000000000000
PRICE_STEP = 50
PRICE_INCREASE_NUMERATOR = 5
PRICE_INCREASE_DENOMINATOR = 100
ETH_TO_GAME_NUMERATOR = 88
ETH_TO_GAME_DENOMINATOR = 100
OWNER = 0x0000...