@import '../../../styles/fonts';

.strategy-section {
  &__content {
    height: 800px;

    @media screen and (max-width: 1279px) {
      height: auto;
    }
  }

  &__left-content {
    background-color: #FFEABC;
  }

  &__right-content {
    background-color: #E0846B;

    @media screen and (max-width: 1279px) {
      min-height: 800px;
    }

    @media screen and (max-width: 767px) {
      min-height: 500px;
    }
  }

  &__title {
    color: #D66032;
  }

  &__decorator {
    position: absolute;

    @media screen and (max-width: 767px) {
      display: none;
    }

    &-1 {
      bottom: 120px;
      left: -60px;
    }

    &-2 {
      top: 126px;
      right: 70px;
    }

    &-3 {
      top: 60px;
      right: 25px;
    }
  }

  &__card {
    position: absolute;
    top: -61px;
    right: 0;

    @media screen and (max-width: 767px) {
      top: 0;
      right: -5px;
      margin-top: -10.6%;
    }
  }
}