@import '../../../styles/fonts';

.strategy-section {
  &__content {
    height: 800px;
  }

  &__left-content {
    background-color: #FFEABC;
  }

  &__right-content {
    background-color: #E0846B;
  }

  &__title {
    color: #D66032;
  }

  &__decorator {
    position: absolute;

    &-1 {
      bottom: 120px;
      left: -60px;
    }

    &-2 {
      top: 126px;
      right: 70px;
    }

    &-3 {
      top: 60px;
      right: 25px;
    }
  }
}