@import '../../../styles/fonts';

.paw{
  position: relative;
  top: -2em;
  padding: 60px;
  background: url("../../../assets/img/background_1.png") no-repeat;
  background-position-x: center;
  height: 1656px;;
  &__content{
    &-title{
      height: 66px;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 66px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #FFFFFF;
    }
    &-frame{
      position: relative;
      top: 42em;
      left: 0;
      width: 800px;
      padding: 30px;
      background: #FFFFFF;
      box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
      border-radius: 16px;
      margin:1em auto;
      &:nth-child(3n){
        background: none;
        width: 34em;
          font-size: 16px;
          line-height: 28px;
          color: #FFFFFF;
      }
      &-bottle{
        position: absolute;
        right: 13px;
        bottom: 2px;
      }

      &-text{
        font-weight: normal;
        font-size: 16px;
        line-height: 28px;
        font-feature-settings: 'liga' off;
        &-special{
          font-weight: bold;
          color: #1490C7;
        }
      }
    }

  }
}