@import '../../../styles/fonts';

.paw-section {
  &__content {
    padding: 60px 0;
    background: #19C2FD url("../../../assets/img/background_1.png") top 17px right 6px no-repeat;
    border-radius: 60px;
  }

  &__title {
    font-family: 'MEB', sans-serif;
    font-size: 48px;
    line-height: 66px;
    color: #fff;
    text-align: center;
  }

  &__img {
    margin: 30px 0;
    text-align: center;
  }

  &__text {
    position: relative;
    width: 860px;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    font-size: 16px;
    line-height: 28px;

    &--no-bg {
      width: 615px;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      color: #fff;
      text-align: center;
    }

    & + & {
      margin-top: 40px;
    }
  }

  &__decorator {
    position: absolute;
    bottom: 20px;
    right: 30px;
  }
}