@import '../../../styles/fonts';

.paw-section {
  &__content {
    padding: 60px 0;
    background: #19C2FD url("../../../assets/img/background_1.png") top 17px right 6px no-repeat;
    border-radius: 60px;

    @media screen and (max-width: 1279px) {
      padding: 60px;
    }

    @media screen and (max-width: 767px) {
      margin: 0 -20px;
      padding: 20px;
      background: none;
      background-color: #19C2FD;
      border-radius: 30px;
    }
  }

  &__title {
    font-family: 'MEB', sans-serif;
    font-size: 48px;
    line-height: 66px;
    color: #fff;
    text-align: center;
  }

  &__img {
    margin: 30px 0;
    text-align: center;

    @media screen and (max-width: 767px) {
      margin: 20px -20px 0;
    }
  }

  &__text {
    position: relative;
    max-width: 860px;
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    font-size: 16px;
    line-height: 28px;

    &--no-bg {
      max-width: 615px;
      width: 100%;
      padding: 0;
      background-color: transparent;
      box-shadow: none;
      border-radius: 0;
      color: #fff;
      text-align: center;
    }

    & + & {
      margin-top: 40px;

      @media screen and (max-width: 767px) {
        margin-top: 30px;
      }
    }
  }

  &__decorator {
    position: absolute;
    bottom: 20px;
    right: 30px;

    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}