@import '../../../styles/fonts';

.vpc-section {
  &__content {
    height: 800px;
  }

  &__left-content {
    background-color: #F6F9FF;
  }

  &__right-content {
    background-color: #47AFDD;
  }

  &__title {
    color: #1490C7;
  }
}