@import '../../../styles/fonts';

.reg-paw-card{

  background-position-x: center;
  box-sizing: border-box;
//  font-family: MM;
  margin-top: 100px;
  @media (max-width: 376px) {
    background: #F6F9FF;
    border-radius: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
&__content{
  display: flex;
  flex-direction: row;
  @media (max-width: 376px) {
      display: block;
    padding-left: 0;

  }
}
  &__middle-content{
    display: none;
    background-color: #47AFDD;
    border-radius: 37px;
    @media (max-width: 376px) {
      display: block;
    }
    img{
      @media (max-width: 376px) {
        width: 100%;
        position: relative;
        left: 35px;
        top: 30px;
      }
    }
  }
  &__right-content{

    background-color: #F6F9FF;
    border-radius: 60px 0 0 60px;
    width: 50%;

    padding-top: 60px;
    padding-left: 60px;
    @media (max-width: 376px) {
      height: max-content;
      padding-left: 0;
      padding-top: 0;
      width: 100%;
    }
    &-title{
      position: relative;

      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 66px;
      font-feature-settings: 'liga' off;
      color: #1490C7;
      margin-bottom:30px;
      @media (max-width: 376px) {
        top:0;
        left:0;
        text-align: center;
      }
    }
    &-body{
      position: relative;
      width: fit-content;
      height: 615px;
      overflow-y: auto;
      overflow-x: hidden;
      @media (max-width: 376px) {
        margin-top: 40px;
        width: inherit;
        height: inherit;
        top:0;
        left:0;
        padding-left: 17px;
        padding-right: 18px;

      }
    &-frame {
      background-color: white;
      width: 25em;
      padding: 9px;
      box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
      border-radius: 16px;
      margin-bottom: 49px;
      @media (max-width: 376px) {
        width: 100%;
        margin-bottom: 0;
        &:first-child{
          margin-bottom: 20px;
        }
      }
      &-text {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        font-feature-settings: 'liga' off;
        color: #18191F;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 1em 1em;

        &-special {
          margin: 3px;
          font-weight: bold;
          color: #1490C7;
        }
      }
    }
    }
    &-img{
      display: block;
      position: relative;
      top: 50px;
      left: 20px;
      text-align: center;
      border-radius: 37.4556px;

      @media (max-width: 376px) {

      }
    }
  }
  &__left-content{

    background-color:#47AFDD;
    border-radius:0 60px 60px 0;
    width: 50%;
    background-size: contain;
    @media (max-width: 376px) {
      display: none;
    }
    &-img{
      text-align: center;
      position: relative;
      padding-top: 51px;

      &-first{
        position: absolute;
        top: 15px;
        right: 53px;
        z-index: 10;
        @media (max-width: 376px) {
          display: none;
        }
      }
      &-second{
        position: absolute;
        bottom: -36em;
        left: -42px;
        z-index: 10;
        @media (max-width: 376px) {
          display: none;
        }
      }
      &-third{
        position: absolute;
        top: 42em;
        left: 53px;
        z-index: 10;
        @media (max-width: 376px) {
          display: none;
        }
      }
      &-forth{
        position: absolute;
        top: -36px;
        left: -49px;
        z-index: 10;
        @media (max-width: 376px) {
          display: none;
        }
      }
      img:first-child{
        position: absolute;
        top: 73px;
        left: 10%;
        width: 34em;
        height: 48em;
        z-index:20;
      }
    }
  }
}
ol li {
  content: counter(num) '.';
  counter-increment: num;
  color: #1490C7;
  font-weight: bold;
  font-size: 14px;
  line-height: 28px;
  span{
    color: black;
  }
}