@import '../../../styles/fonts';

.reg-paw-card{
  background: url("../../../assets/img/background_2.png") no-repeat;
  background-position-x: center;
  margin:2em 0;
  font-family: MM;
  &__content{
    height: 900px;
    &-title{
      position: relative;
      top:1.5em;
      left:2em;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 66px;
      font-feature-settings: 'liga' off;
      color: #1490C7;
    }
    &-body{
      position: relative;
      top: 6em;
      left: 4em;
      width: fit-content;
      height: 615px;
      overflow-y: auto;
      overflow-x: hidden;
    &-frame {
      background-color: white;
      width: 27em;
      margin: 2em;
      padding: 9px;
      box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
      border-radius: 16px;
      &-text {
        position: relative;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 28px;
        font-feature-settings: 'liga' off;
        color: #18191F;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 1em 1em;

        &-special {
          font-weight: bold;
          color: #1490C7;
        }
      }
    }
    }
  }

}