@import '../../../styles/fonts';
@import '../../../styles/settings';

.offering-section {
  margin-top: -60px;
  padding: 70px 0 40px;
  background-color: $blue-bg;
  border-radius: 60px;

  @media screen and (max-width: 1279px) {
    padding: 60px 0;
  }

  @media screen and (max-width: 767px) {
    margin-top: -20px;
    padding: 20px 0;
    border-radius: 30px;
  }

  &__title {
    font-family: 'MEB', sans-serif;
    font-size: 100px;
    line-height: 137px;
    text-align: center;
    color: #FAC34E;
    text-shadow:
            3px 0px 0 #000000,
            0px -3px 0 #000000,
            -3px 0px 0 #000000,
            0px 3px 0 #000000,
            3px 3px 0 #000000,
            3px -3px 0 #000000,
            -3px 3px 0 #000000,
            -3px -3px 0 #000000,

            5px 5px 0 #ffffff,
            10px 10px 0 #000000,
    ;

    @media screen and (max-width: 767px) {
      font-size: 50px;
      line-height: 68px;
    }

    &__under {
      font-family: 'MEB', sans-serif;
      font-size: 50px;
      line-height: 137px;
      text-align: center;
      color: #FAC34E;
      text-shadow:
              2px 0px 0 #000000,
              0px -2px 0 #000000,
              -2px 0px 0 #000000,
              0px 2px 0 #000000,
              2px 2px 0 #000000,
              2px -2px 0 #000000,
              -2px 2px 0 #000000,
              -2px -2px 0 #000000,

              3px 3px 0 #FFFFFF,
              8px 8px 0 #000000
      ;

      @media screen and (max-width: 855px) {
        margin-top: 20px;
        text-shadow:
                1px 0px 0 #000000,
                0px -1px 0 #000000,
                -1px 0px 0 #000000,
                0px 1px 0 #000000,
                1px 1px 0 #000000,
                1px -1px 0 #000000,
                -1px 1px 0 #000000,
                -1px -1px 0 #000000,

                2px 2px 0 #FFFFFF,
                4px 4px 0 #000000
        ;
        font-size: 4vw;
        line-height: 30px;
      }
    }
  }


  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0 155px;

    @media screen and (max-width: 1279px) {
      flex-direction: column;
      align-items: center;
      margin-top: 40px;
      padding: 0;
    }

    @media screen and (max-width: 767px) {
      margin-top: 20px;
    }
  }

  &__card {
    margin-left: -25px;

    @media screen and (max-width: 767px) {
      max-width: 375px;
      margin: 0 -20px;
    }
  }

  &__descr {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    font-size: 16px;
    line-height: 28px;

    @media screen and (max-width: 1279px) {
      position: relative;
      top: 0 !important;
      right: 0 !important;
      bottom: 0 !important;
      left: 0 !important;
      max-width: 660px;
      width: 100% !important;

      &:before {
        content: none !important;
      }

      & + & {
        margin-top: 40px;
      }
    }

    @media screen and (max-width: 767px) {
      & + & {
        margin-top: 20px;
      }
    }

    &--left {
      left: 30px;
      width: 300px;

      &:before {
        content: '';
        position: absolute;
        right: -13px;
        width: 26px;
        height: 26px;
        background-color: #fff;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        top: 30px;

        &:before {
          top: 175px;
        }
      }

      &:nth-of-type(3) {
        top: 530px;
        text-transform: uppercase;

        &:before {
          top: 55px;
        }
      }
    }

    &--right {
      top: 240px;
      right: 0;
      width: 360px;

      &:before {
        content: '';
        position: absolute;
        top: 100px;
        left: -13px;
        width: 26px;
        height: 26px;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }

    &--bottom {
      bottom: 0;
      left: calc(50% - 330px);
      width: 660px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__decorator {
    position: absolute;

    @media screen and (max-width: 767px) {
      display: none;
    }

    &-1 {
      top: 90px;
      right: 65px;
    }

    &-2 {
      bottom: calc(100% + 20px);
      left: -40px;
    }

    &-3 {
      top: 45px;
      left: -42px;
    }

    &-cap {
      top: -75px;
      right: -75px;

      @media screen and (max-width: 767px) {
        top: -52px;
        right: -52px;
        display: block;
        width: 118px;
      }
    }
  }
}
