@import '../../../styles/fonts';
@import '../../../styles/settings';

.offering-section {
  margin-top: -60px;
  padding: 70px 0 40px;
  background-color: $blue-bg;
  border-radius: 60px;

  &__title {
    font-family: 'MEB', sans-serif;
    font-size: 100px;
    line-height: 137px;
    text-align: center;
    color: #FAC34E;
    text-shadow: 2px 2px 0 #FFFFFF, 7px 7px 0 #000000;
  }

  &__content {
    position: relative;
    display: flex;
    justify-content: center;
    padding: 30px 0 155px;
  }

  &__card {
    margin-left: -25px;
  }

  &__descr {
    position: absolute;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    font-size: 16px;
    line-height: 28px;

    &--left {
      left: 30px;
      width: 300px;

      &:before {
        content: '';
        position: absolute;
        right: -13px;
        width: 26px;
        height: 26px;
        background-color: #fff;
        transform: rotate(45deg);
      }

      &:nth-of-type(2) {
        top: 30px;

        &:before {
          top: 175px;
        }
      }

      &:nth-of-type(3) {
        top: 530px;
        text-transform: uppercase;

        &:before {
          top: 55px;
        }
      }
    }

    &--right {
      top: 240px;
      right: 0;
      width: 360px;

      &:before {
        content: '';
        position: absolute;
        top: 100px;
        left: -13px;
        width: 26px;
        height: 26px;
        background-color: #fff;
        transform: rotate(45deg);
      }
    }

    &--bottom {
      bottom: 0;
      left: calc(50% - 330px);
      width: 660px;
      text-align: center;
      text-transform: uppercase;
    }
  }

  &__decorator {
    position: absolute;

    &-1 {
      top: 90px;
      right: 65px;
    }

    &-2 {
      bottom: calc(100% + 20px);
      left: -40px;
    }

    &-3 {
      top: 45px;
      left: -42px;
    }

    &-cap {
      top: -75px;
      right: -75px;
    }
  }
}
