.row {
  max-width: 1320px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
  &--sm {
    max-width: 630px;
  }
  &--lg {
    max-width: 920px;
  }
  &--md {
    max-width: 690px;
  }
}
.container {
  border-radius: 12px;
}