@import-normalize;
@import './fonts';
@import './settings';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'MR', sans-serif;
  font-size: 16px;
  line-height: 28px;
  color: $base-color;
}

img {
  vertical-align: top;
}

button {
  font-family: 'MB', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

h1 {
  margin: 0;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.section {
  & + & {
    margin-top: 100px;
  }

  &__content {
    position: relative;

    &--reverse {
      .section__left-content {
        left: 50%;
        width: 50%;
        border-radius: 0 60px 60px 0;
      }

      .section__right-content {
        left: -100%;
        border-radius: 60px 0 0 60px;
      }
    }
  }

  &__left-content {
    position: relative;
    width: 50%;
    border-radius: 60px 0 0 60px;
  }

  &__right-content {
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    border-radius: 0 60px 60px 0;
  }

  &__text-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 60px 60px 0;
  }

  &__title {
    font-family: 'MEB', sans-serif;
    font-size: 48px;
    line-height: 66px;
  }

  &__scroll-content {
    flex: 1 1 auto;
    margin-top: 50px;
  }

  &__text {
    padding: 30px;
    background-color: #fff;
    //box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    font-size: 16px;
    line-height: 28px;

    & + & {
      margin-top: 30px;
    }

    &:last-child {
      margin-bottom: 60px;
    }
  }
}

.text-decorator {
  font-family: 'MB', sans-serif;

  &--blue {
    color: $light-blue;
  }

  &--orange {
    color: $orange;
  }
}