@import '../../../styles/fonts';

.bear-vs-navy{
  position: relative;
  top:-6em;
  background: url("../../../assets/img/ships.png") no-repeat;
  background-position-x: center;
  height: 600px;
  font-family: MM;
  font-style: normal;

  &__content{
    position: relative;
    top:300px;
    margin: auto;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
    border-radius: 16px;
    width: 660px;
    &-text{
      font-size: 16px;
      line-height: 28px;
      font-feature-settings: 'liga' off;
      color: #18191F;
      flex: none;
      order: 0;
      flex-grow: 0;
      &-special{
        font-weight: bold;
        color: #1490C7;
        margin: 5px;
      }
    }
  }
}