@import '../../../styles/fonts';

.economics-section {
  &__content {
    height: 800px;

    @media screen and (max-width: 1279px) {
      height: auto;
    }
  }

  &__left-content {
    background-color: #F7F9FF;
  }

  &__right-content {
    background-color: #CAC6EA;

    @media screen and (max-width: 1279px) {
      min-height: 800px;
    }

    @media screen and (max-width: 767px) {
      min-height: 500px;
    }
  }

  &__title {
    color: #6C5CE7;
  }

  &__distribution-title {
    margin-bottom: 40px;
    font-family: 'MB', sans-serif;
    color: #6C5CE7;
  }

  &__distribution-row {
    display: flex;

    & + & {
      margin-top: 30px;
    }

    &:last-child {
      font-family: 'MB', sans-serif;
      color: #6C5CE7;
    }
  }

  &__distribution-num {
    flex-shrink: 0;
    width: 55px;
    font-family: 'MB', sans-serif;
    font-size: 24px;
    color: #6C5CE7;
  }

  &__distribution-descr {
    margin-left: 25px;
  }

  &__bubbles {
    position: absolute;
    top: 63px;
    right: -45px;

    @media screen and (max-width: 1279px) {
      top: 60px;
      right: 30px;
    }

    @media screen and (max-width: 767px) {
      display: none;
    }
  }

  &__coordinator {
    position: absolute;
    bottom: 70px;
    left: 50px;

    @media screen and (max-width: 767px) {
      position: static;
      bottom: 0;
      left: 0;
    }
  }

  &__chest {
    position: relative;
    z-index: 1;

    @media screen and (max-width: 767px) {
      position: absolute;
      bottom: 20px;
      left: 25px;
      width: 90%;
    }
  }

  &__card {
    position: absolute;
    bottom: 140px;
    left: 40px;
    z-index: 1;

    @media screen and (max-width: 767px) {
      bottom: 110px;
      left: 50px;
      width: 66%;
    }
  }

  &__decorator {
    position: absolute;

    &-1 {
      top: 20px;
      right: 18px;

      @media screen and (max-width: 767px) {
        top: 35px;
        right: 20px;
        width: 28%;
      }
    }

    &-2 {
      bottom: -2px;
      left: -22px;

      @media screen and (max-width: 767px) {
        bottom: 40px;
        left: 20px;
        width: 26%;
      }
    }
  }
}