@import '../../../styles/fonts';



.mission-economics{
  background: url("../../../assets/img/background_3.png") no-repeat;
  background-position-x: center;
  margin-top:50px;
  font-family: MM;
  @media (max-width: 376px) {
    background: #F7F9FF;
    border-radius: 30px;
  }
  &__content{
    position: relative;
    right: 2em ;
    height: 850px;
    overflow-y: auto;
    &-title{
      position: absolute;
      top: 2em;
      width: 5em;
      left: 16em;
      font-style: normal;
      font-weight: 800;
      font-size: 48px;
      line-height: 66px;
      font-feature-settings: 'liga' off;

      color: #6C5CE7;
    }
    &-body{
      position: absolute;
      top: 16em;
      right: 4em;
      width: fit-content;
      height: 512px;
      overflow-y: auto;
      overflow-x: hidden;

      &-frame{
        background-color: white;
        width: 26em;
        margin-top: 2em;
        padding: 30px;
        box-shadow: 0 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: 16px;
        &-text{
          position: relative;
          font-style: normal;
          font-weight: normal;
          font-size: 16px;
          line-height: 28px;
          font-feature-settings: 'liga' off;
          color: #18191F;
          flex: none;
          order: 0;
          flex-grow: 0;
          padding-bottom: 9px;
          margin: 10px 0px;
          &-special {
            font-weight: bold;
            color: #6C5CE7;
          }
          &-component{
            display: flex;
            margin: 10px 0;
            &-percents{
              min-width: 50px;
              margin-right: 1em;
              color: #6C5CE7;
              font-weight: bold;
              font-size: 24px;
              line-height: 28px;
              font-feature-settings: 'liga' off;

            }
            &-info{
              font-style: normal;
              font-weight: normal;
              font-size: 16px;
              line-height: 28px;
            }
          }
        }
      }
    }
    &-img {
      display: none;
      background: #CAC6EA;
      border-radius: 18.8625px;
      @media (max-width: 376px) {
        display: block;
        text-align: center;
      }
    }
  }
}
