.header{
  &__content{
    margin: 20px;
    flex-direction: row;
    justify-content: space-around;
  }
  &__content,
  &__left, &__right,
  &__right-login-button,
  &__right-nftCard-button,
  &__right-pawCard-button,
  &__right-pawCard-button div,
  &__right-nftCard-button div{
   display: flex;
 }
  &__right-nftCard-button,
  &__right-pawCard-button {
    div {
      margin: auto;
    }
  }
  &__right-login-button,
  &__right-nftCard-button,
  &__right-pawCard-button
  {
    justify-content: flex-start;
    a{
      text-decoration: none;
    }
    .text{
      padding: 13px;
    }
    margin-left: 10px;

    padding: 2px;
    border-radius: 8px;


  }
  &__right-login-button {
    left: 642px;
    top: 16px;
    background: #3F3F47;
    .text a{
      width: 246px;
      height: 20px;
      left: calc(50% - 246px / 2 + 87px);
      top: calc(50% - 20px / 2 - 5191px);
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #FFFFFF;
    }
  }

  &__right-nftCard-button {

    left: 1097px;
    top: 22px;
    border: 2px solid;
    border-color: #005DC4;
    text-align: center;
    color: #005DC4;
    .text a{
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'liga' off;
      color: #005DC4;
    }
    .count-component{
      width: 28px;
      height: 28px;
      left: 1097px;
      top: 22px;
      background: #005DC4;
      border-radius: 8px;
    }
    .count-value{
      left: 76.88%;
      right: 22.5%;
      top: 0.25%;
      bottom: 99.56%;

      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      /* identical to box height, or 143% */

      text-align: center;
      font-feature-settings: 'liga' off;

      color: #FFFFFF;
    }
  }

  &__right-pawCard-button{


    align-items: flex-start;

    left: 79.58%;
    right: 8.33%;
    top: 0.15%;
    bottom: 99.46%;

    background: #005DC4;

    .text a{
      position: static;
      font-family: Manrope;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
    }
  }
}
.icon{
  position: relative;
  top: 12px;
  left: 5px;
}