@import '../../styles/fonts';

.header{
  position: fixed;
  height: 72px;
  width: 100%;
  background: #FFFFFF;
  box-shadow: 0 1px 0 #E5E9F2;
  font-family: MM;
  font-weight: 700;
  z-index: 100;
  &__content{
    flex-direction: row;
    justify-content: space-between;
  }
  &__content,
  &__left, &__right,
  &__right-login-button,
  &__right-nftCard-button,
  &__right-pawCard-button,
  &__right-pawCard-button div,
  &__right-nftCard-button div{
   display: flex;
 }

  &__right-login-button,
  &__right-nftCard-button,
  &__right-pawCard-button
  {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 7.5px;
    padding: 9px;
    height: 40px;
    border-radius: 8px;
  }
  &__right-login-button {

      background: #3F3F47;
      left: calc(50% - 246px / 2 + 87px);
      top: calc(50% - 20px / 2 - 5191px);
      font-size: 14px;
      font-style: normal;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #FFFFFF;


    img{
      margin-right: 10px;
      width: 26px;
      height: 26px;
    }
    div{
      width: inherit;
    }
  }

  &__right-nftCard-button {
    padding: 9px;
    border: 2px solid;
    border-color: #005DC4;
    text-align: center;
    height: 40px;
    color: #005DC4;
      font-size: 14px;
      line-height: 20px;
      font-feature-settings: 'liga' off;
      color: #005DC4;
    .count-component{
      width: 28px;
      height: 28px;
      background: #005DC4;
      border-radius: 8px;
      margin-left:13px;
    }
    .count-value{
      left: 76.88%;
      right: 22.5%;
      top: 0.25%;
      bottom: 99.56%;
      font-size: 14px;
      line-height: 20px;
      margin: auto;
      /* identical to box height, or 143% */

      text-align: center;
      font-feature-settings: 'liga' off;

      color: #FFFFFF;
    }
  }

  &__right-pawCard-button{
    width: 174px;
    align-items: center;
    left: 79.58%;
    right: 8.33%;
    top: 0.15%;
    bottom: 99.46%;

    background: #005DC4;
      position: static;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      font-feature-settings: 'liga' off;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
    }

}
.icon{
  position: relative;
  top: 12px;
  left: 5px;
}