@import '../../styles/fonts';
@import '../../styles/settings';

.header {
  position: sticky;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 1px 0 #e5e9f2;
  z-index: 2;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;

    @media screen and (max-width: 1279px) {
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      height: 60px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;

    @media screen and (max-width: 767px) {
      width: 175px;
    }
  }

  &__controls {
    display: flex;

    @media screen and (max-width: 1279px) {
      flex-direction: column;
      max-width: 300px;
      width: 100%;
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    padding: 10px;
    border-radius: 8px;
    font-family: 'MB', sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    cursor: pointer;

    @media screen and (max-width: 1279px) {
      height: 52px;
    }

    img {
      margin-right: 10px;
    }

    & + & {
      margin-left: 15px;

      @media screen and (max-width: 1279px) {
        margin-left: 0;
        margin-top: 20px;
      }
    }

    &--bg {
      background-color: $gray;
    }
  }

  &__nft-card-btn {
    position: relative;
    border: 2px solid $blue;
    color: $blue;

    .count-component {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 28px;
      height: 28px;
      background: $blue;
      border-radius: 8px;
      margin-left: 10px;
      color: #fff;
    }

    &--active {
      background-color: #717182;
      border-color: #717182;
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 50%;
        width: 16px;
        height: 16px;
        background-color: #717182;
        transform: rotate(135deg);
      }

      .count-component {
        background-color: #fff;
        color: #717182;
      }
    }
  }

  &__paw-card-wrapper {
    position: relative;
    margin-left: 15px;

    @media screen and (max-width: 1279px) {
      margin-left: 0;
      margin-top: 20px;
    }
  }

  &__paw-card-btn {
    min-width: 186px;
    background-color: $blue;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-text {
      width: 100%;
      text-align: center;
    }

    .count-component-arrow {
      min-width: 28px;
      height: 28px;
      border-radius: 8px;
      background-image: url('../../assets/img/button_a.png');

      &--up {
        transform: rotate(180deg);
      }
    }
  }

  &__buyErc20-card {
    position: absolute;
    top: calc(100% + 2px);
    left: calc(50% - 150px);
    max-width: 300px;
    z-index: 1;
  }

  .buyErc20-card {
    padding: 15px 15px 20px;
    background-color: $white;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
  }

  &__erc20address {
    text-align: center;
    padding: 8px 15px;
    border-radius: 8px;
    border: 2px solid $blue;
    color: $blue;
    cursor: pointer;
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    min-width: 270px;
  }


  &__paw-card {
    position: absolute;
    top: calc(100% + 1px);
    left: 0;
    width: 100%;
    z-index: 1;
  }

  .paw-card {
    padding: 15px 15px 20px;
    background-color: $blue;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25);
    border-radius: 8px;

    &__counter {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__counter-value {
      width: 80px;
      height: 48px;
      //padding: 10px 5px;
      background-color: rgba(255, 255, 255, 0.25);
      border-radius: 12px;
      input {
        width: 100%;
        height: 100%;
        line-height: 48px;
        background-color: transparent;
        border: none;
        outline: none !important;
        font-family: 'MB', sans-serif;
        font-size: 22px;
        text-align: center;
        color: #fff;
        &::placeholder {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }

    &__counter-btn {
      width: 28px;
      height: 28px;
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;

      &--minus {
        margin-right: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Crect width='28' height='28' fill='%23fff' opacity='.25' rx='14'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 14h12'/%3E%3C/svg%3E");
      }

      &--plus {
        margin-left: 10px;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='28' fill='none' viewBox='0 0 28 28'%3E%3Crect width='28' height='28' fill='%23fff' opacity='.25' rx='14'/%3E%3Cpath stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 14h12M14 20V8'/%3E%3C/svg%3E");
      }
    }

    &__price {
      margin-top: 20px;
      font-family: 'MB', sans-serif;
      font-size: 20px;
      line-height: 20px;
      text-align: center;
      color: #fff;
    }

    &__buy-btn {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 34px;
      margin-top: 20px;
      background-color: #fff;
      border-radius: 8px;
      font-family: 'MB', sans-serif;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      color: $blue;
      cursor: pointer;
    }
  }

  &__menu-footer {
    display: none;

    @media screen and (max-width: 1279px) {
      display: block;
      text-align: center;
      font-size: 14px;
      line-height: 24px;
    }
  }

  &__maintenance {
    &-link {
      text-decoration: none;
      color: black;
    }
  }

  &__copyright {
    margin-top: 10px;
  }

  &__version {
    margin-top: 10px;
  }

  &__paper {
    text-decoration: none;
    color: #18191F;
  }

  &__socials {
    display: flex;
    justify-content: center;
    margin-top: 30px;

    a + a {
      margin-left: 24px;
    }
  }

  &__menu {
    @media screen and (max-width: 1279px) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      padding: 30px 20px 50px;
    }
  }

  &__swiper {
    position: fixed;
    top: 72px;
    left: 0;
    width: 100%;
    padding: 20px;
    background-image: url('../../assets/img/swiper-back.png');
    background-color: #727285;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 10px 22px rgba(0, 0, 0, 0.15);
    border-radius: 0 0 40px 40px;

    @media screen and (max-width: 1279px) {
      background-size: initial;
    }

    @media screen and (max-width: 767px) {
      top: 60px;
    }

    &-inner {
      position: relative;
      max-width: 1060px;
      height: 100%;
      width: 100%;
      margin: 0 auto;
      padding: 0 60px;
    }

    .swiper-slide-data {
      width: 100%;
      height: 100%;
      background: url('../../assets/img/card1.png') no-repeat;
      background-size: contain;
      background-position: center center;
    }

    .swiper-button-prev,
    .swiper-button-next {
      position: absolute;
      width: 52px;
      height: 52px;
      top: 36%;
      z-index: 2;
      cursor: pointer;
    }

    .swiper-button-prev {
      left: 0;
      background: url('../../assets/img/prev.png') center no-repeat;
    }

    .swiper-button-next {
      right: 0;
      background: url('../../assets/img/next.png') center no-repeat;
    }

    .swiper-slide-value {
      width: 200px !important;
      height: 29px !important;
      position: absolute;
      left: 0px;
      bottom: 159px;
      background: none;
      text-align: center;
      font-family: Fredoka One;
      font-style: normal;
      font-weight: normal;
      font-size: 19.7477px;
      line-height: 150%;
      letter-spacing: 0.914247px;
      text-transform: uppercase;
      color: #ffffff;
      text-shadow: 0px 0px 4px black;
    }

    .swiper-slide {
      &__card {
        text-align: center;
      }

      &__id {
        font-family: 'MB', sans-serif;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #fff;
        opacity: 0.5;
      }
    }

    .swiper-slide-button {
      position: absolute;
      bottom: 105px;
      left: 101px;
      height: 45px;
      width: 130px;
      background: linear-gradient(
                      180deg,
                      rgba(255, 255, 255, 0.1) 3.08%,
                      rgba(255, 255, 255, 0) 100%
      ),
      #ad9152;
      box-shadow: 0px 1.60609px 0px rgba(173, 145, 82, 0.5),
      inset 0px 1.60609px 0px rgba(255, 255, 255, 0.6),
      inset 0px -1.60609px 0px rgba(255, 255, 255, 0.7);
      border-radius: 16.9013px;
      background-color: #b19659;
      border: none;
      font-family: Fredoka One;
      font-style: normal;
      font-weight: normal;
      font-size: 19.273px;
      line-height: 150%;
      /* identical to box height, or 29px */

      text-align: center;
      letter-spacing: 0.89227px;
      text-transform: uppercase;

      color: #ffffff;
      cursor: pointer;
    }

    .swiper-slide-id {
      width: 10em !important;
      height: 20px !important;
      color: #ffffff;
      opacity: 0.5;
      position: absolute;
      bottom: 32px;
      left: 80px;
      text-align: center;
    }

    .swiper-empty {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 460px;
      color: #fff;
      @media screen and (max-width: 767px) {
        height: 260px;
      }
    }
  }
}

.scroll-up-btn {
  display: block;
  position: fixed;
  top: 90px;
  left: 20px;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    top: initial;
    left: initial;
    right: 0;
    bottom: 0;
  }
}

.m-menu-btn-wrapper {
  display: none;
  position: absolute;
  top: calc(50% - 15px);
  left: 10px;
  width: 30px;
  height: 30px;
  cursor: pointer;

  @media screen and (max-width: 1279px) {
    display: block;
  }
}
.m-menu-btn {
  position: absolute;
  top: calc(50% - 1px);
  right: 3px;
  display: inline-block;
  width: 24px;
  height: 2px;
  background-color: #000;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    -webkit-transition-duration: 0.3s, 0.15s, 0.15s;
    transition-duration: 0.3s, 0.15s, 0.15s;
    -webkit-transition-delay: 0s, 0.15s, 0s;
    transition-delay: 0s, 0.15s, 0s;
  }
  &:before {
    top: -6px;
    -webkit-transition-property: background-color, top, -webkit-transform;
    transition-property: background-color, top, transform;
  }
  &:after {
    bottom: -6px;
    -webkit-transition-property: background-color, bottom, -webkit-transform;
    transition-property: background-color, bottom, transform;
  }
}
.m-menu {
  @media screen and (max-width: 1279px) {
    position: fixed;
    top: 73px;
    left: 0;
    width: 100%;
    height: calc(100% - 73px);
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }

  @media screen and (max-width: 767px) {
    top: 61px;
    height: calc(100% - 61px);
  }
}

.header.menu-shown {
  .m-menu-btn {
    background-color: transparent;
    &:before,
    &:after {
      -webkit-transition-delay: 0s, 0s, 0.15s;
      transition-delay: 0s, 0s, 0.15s;
    }
    &:before {
      top: 0;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    &:after {
      bottom: 0;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  .m-menu {
    opacity: 1;
    visibility: visible;
  }
}
