.info-section {
  @media screen and (max-width: 767px) {
    margin-top: 50px !important;
  }

  &__content{
    padding: 0 100px;

    @media screen and (max-width: 1279px) {
      padding: 0;
    }
  }

  &__text {
    font-family: 'MB', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #CB5322;

    @media screen and (max-width: 1279px) {
      max-width: 860px;
      width: 100%;
      margin: 0 auto;
    }

    & + & {
      margin-top: 30px;
    }
  }
}