.info-section {
  &__content{
    padding: 0 100px;
  }

  &__text {
    font-family: 'MB', sans-serif;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
    color: #CB5322;

    & + & {
      margin-top: 30px;
    }
  }
}