@import '../../../styles/fonts';

.games-section {
  padding: 120px 0 250px;
  background: url('../../../assets/img/background_11.png');
  background-size: cover;

  &__content {
    position: relative;
  }

  &__title {
    max-width: 420px;
    font-family: 'MEB', sans-serif;
    font-size: 85px;
    line-height: 85px;
    color: #4F320F;
  }

  &__text {
    max-width: 515px;
    margin-top: 70px;
    font-size: 16px;
    line-height: 32px;
  }

  &__logo {
    position: absolute;
    top: -25px;
    right: 10px;
  }
}
