.games {

  &__content {
    display: flex;
    justify-content: space-around;
    background: url("../../../assets/img/Rectangle 370.png");
    &-left, &-right{
     margin-top: 80px;
    }
  }

  &__title {
    width: 412px;
    height: 170px;
    margin-bottom: 50px;
    left: 147px;
    top: 198px;
    text-align: left;
    font-family: Manrope;
    font-style: normal;
    font-weight: 800;
    font-size: 93px;
    line-height: 85px;


    font-feature-settings: 'liga' off;
  }
  &__text{
    width: 515px;
    height: 224px;
    left: 147px;
    top: 438px;
    font-family: Manrope;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    font-feature-settings: 'liga' off;
    color: #4F320F;
  }
  &__logo{
    &-img{
      text-align: center;
    }
  }
}