@import '../../styles/fonts';

.footer {
  margin-top: 70px;
  background-color: #0B0D17;

  &__content {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 50px;
  }

  &__content-col {
    width: calc(100% / 3);
  }

  &__maintenance,
  &__copyright {
    font-size: 14px;
    line-height: 24px;
    color: #D9DBE1;
  }

  &__copyright {
    text-align: center;
  }

  &__socials {
    display: flex;
    justify-content: flex-end;
  }

  &__socials-item {
    & + & {
      margin-left: 24px;
    }
  }
}