@import '../../../styles/fonts';

.uniswap-section {
  &__content {
    height: 800px;

    @media screen and (max-width: 1279px) {
      height: auto;
    }
  }

  &__left-content {
    background-color: #9090BB;
  }

  &__right-content {
    background-color: #ACACDA;

    @media screen and (max-width: 1279px) {
      min-height: 800px;
    }

    @media screen and (max-width: 767px) {
      min-height: 400px;
      overflow: hidden;
    }
  }

  &__title {
    color: #fff;
  }

  &__info-row {
    & + & {
      margin-top: 30px;
    }
  }

  &__info-sum {
    font-family: 'MB', sans-serif;
    font-size: 24px;
    color: #4949AE;
  }

  &__info-descr {
    margin-top: 5px;
  }

  &__max-purchased {
    font-family: 'MB', sans-serif;
    text-transform: uppercase;
    color: #4949AE;
  }

  &__bear {
    position: absolute;
    top: 124px;
    left: 44px;
    z-index: 1;

    @media screen and (max-width: 767px) {
      top: 35px;
      left: 30px;
      width: 44%;
    }
  }

  &__uniswap {
    position: absolute;
    bottom: 210px;
    right: 50px;
    z-index: 1;

    @media screen and (max-width: 767px) {
      bottom: 83px;
      right: 35px;
      width: 48%;
    }
  }

  &__decorator {
    position: absolute;

    &-1 {
      bottom: 58px;
      left: -80px;

      @media screen and (max-width: 767px) {
        display: none;
      }
    }

    &-2 {
      top: 200px;
      right: 135px;

      @media screen and (max-width: 767px) {
        top: 80px;
        right: 20%;
        width: 22.5%;
      }
    }

    &-3 {
      top: 24px;
      right: 188px;

      @media screen and (max-width: 767px) {
        top: initial;
        right: initial;
        bottom: 78px;
        left: 14%;
        width: 18.5%;
      }
    }

    &-4 {
      bottom: -50px;
      right: 86px;

      @media screen and (max-width: 1279px) {
        bottom: 0;
        right: 50px;
      }

      @media screen and (max-width: 767px) {
        right: -3px;
        width: 67%;
      }
    }

    &-5 {
      top: -3px;
      left: -122px;

      @media screen and (max-width: 1279px) {
        top: 0;
        left: 50px;
      }

      @media screen and (max-width: 767px) {
        left: -78px;
        width: 67%;
      }
    }

    &-6 {
      top: 46px;
      right: -69px;

      @media screen and (max-width: 1279px) {
        top: 195px;
        right: 40px;
      }

      @media screen and (max-width: 767px) {
        display: none;
      }
    }
  }
}