@import '../../../styles/fonts';

.tokens-section {
  &__content {
    height: 600px;
  }

  &__left-content {
    background-color: #FCE6A1;
  }

  &__right-content {
    background-color: #FFF0BF;
  }

  &__title {
    color: #A0730A;
  }

  &__decorator {
    position: absolute;

    &-1 {
      top: 90px;
      right: 35px;
    }

    &-2 {
      bottom: 80px;
      left: -15px;
    }
  }
}